.block
  %h3 Premisa
  .content
    %p ABM de palabras claves que permita autocompletar con palabras previamente ingresadas.
    %p Despliegue un Tag Cloud.

.block
  %h3 Links
  %ul.navigation
    %li= link_to 'VivaServer', 'http://www.vivaserver.com.ar'
